<p>
  <b>Title:</b>
  <%= title %>
</p>

<p>
  <b>Content:</b>
  <%= content %>
</p>

<a href="#/index">Back</a>

<button id="add_comment_button">add comment</button>
<div class="show_comments"></div>
<div class="list_comments"></div>
